extend ../../layouts/default.pug
include ../../mixins/box-head.pug
block main 
    .container.my-3 
        .row 
            .col-12 
                +box-head(pageTitle,{bgColor: '#a79748'})
        .row 
            each item in song
                .col-6.mb-3
                        .song-item
                            .inner-image
                                a(href=`/songs/detail/${item.slug}`)
                                    img(src=item.avatar)
                            .inner-content
                                .inner-title
                                    a(href=`/songs/detail/${item.slug}`) #{item.title}
                                .inner-singer 
                                    i.fa-solid.fa-microphone-lines #{item.singerId.fullName}
                                .inner-like
                                    i.fa-solid.fa-thumbs-up  #{item.like}
                                .inner-time
                                    i.fa-regular.fa-clock Today